@using System.Web.Mvc.Html
@model Core.Modules.Authentication.Ui.Mvc.ViewModels.LoginSubmitViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Login";
}

@using (Ajax.BeginForm("Index", "Authentication/Login", new AjaxOptions 
{ InsertionMode = InsertionMode.Replace, HttpMethod = "Post", UpdateTargetId = "Results"}, new { id = "LoginForm" }))
{
@Html.ValidationSummary("The following errors were found:", new { id = "ValidationSummary" })
<fieldset>
    <legend>Login</legend>
    @Html.EditorForModel()
    @Html.EditorFor(m => Model.CommandActions)
</fieldset>
}

<div id="Results"></div>